header {
	padding: 1em $base-side-padding;
	@extend %flex;
	.logo {
		margin: 0 auto 0 0;
		>* {
			@extend %inline-block;
		}
	}
	nav {
		ul {
			@extend %flex;
			@extend %m0;
		}
		li + li { margin-left: 2em; }
		a {
			@extend %inline-block;
			padding: 0 2em;
			line-height: 3.5;
			@include rounded_element($border: 1px solid $violet, $radius: 10px, $background: "", $color: $violet);
		}
	}
}

.create-ad {
	@extend %uppercase;
	background-color: $violet;
	color: white;
}