header {
	padding: 1em $base-side-padding;
	@extend %flex;
	@extend %flex-wrap;
	.logo {
		margin-right: auto;
		>* {
			@extend %inline-block;
		}
	}
	nav {
		ul {
			@extend %flex;
			@extend %flex-wrap;
			@extend %m0;
		}
		li:not(:last-child) { margin-right: 2em; }
		a {
			padding: 0 2em;
			@extend %inline-block;
			@extend %base-button-height;
			@include rounded_element($border: 1px solid $violet, $radius: 10px, $background: "", $color: $violet);
		}
	}
}