@import "_tools";

* {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
    &::-moz-selection {
	background: $login_bg;
    color: white;
	}
    &::selection {
	background: $login_bg;
    color: white;
	}
	img::-moz-selection {
	background: none;
	}
	img::selection {
	background: none;
	}
}

body {
	font: 14px 'Open Sans', sans-serif;
	color: $black;
	@extend %p0;
	@extend %m0;
}

a {	text-decoration: none; }

ul, ol {
	list-style: none;
	margin: 1em 0;
	@extend %p0;
}

label {
	@extend %pointer;
}

input:not([type="checkbox"]) {
	border: 2px solid #d7d7d7;
	border-radius: 10px;
	background: white;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(123, 123, 123, 0.3);
	        box-shadow: inset 0px 1px 3px 0px rgba(123, 123, 123, 0.3);
	padding: 0 2em;
	font-family: inherit;
	line-height: 3.5em;
	outline: none;
}

button {
	padding: 0 2em;
	line-height: 3.5em;
	font-family: inherit;
	font-size: inherit;
	@extend %uppercase;
	cursor: pointer;
	outline: none;
	@include rounded_element($border: none, $radius: 10px, $background: "", $color: $black);
	&.yellow {
		background: $yellow;
	}
	&.violet {
		background: $violet;
		color: white;
	}
}

.success {
	background-color: $success_color;
}

.fail {
	background-color: $fail_color;
}