@import "_tools";

* {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
    &::-moz-selection {
	background: $login_bg;
    color: white;
	}
    &::selection {
	background: $login_bg;
    color: white;
	}
	img::-moz-selection {
	background: none;
	}
	img::selection {
	background: none;
	}
}

::-webkit-input-placeholder {color:$gray;}
::-moz-placeholder          {color:$gray;}
:-moz-placeholder           {color:$gray;}
:-ms-input-placeholder      {color:$gray;}

body {
	font: 14px 'Open Sans', sans-serif;
	color: $black;
	@extend %p0;
	@extend %m0;
	@media (max-width : 767px) { font-size: 13px; }
}

a {	text-decoration: none; }

ul, ol {
	list-style: none;
	margin: 1em 0;
	@extend %p0;
}

label {
	@extend %pointer;
	span {
		font-size: 1.1em;
		line-height: 2;
	}
}

h2 {
	font-size: 2.1em;
}

input:not([type="checkbox"]),
select {
	@extend %base-button-height;
}

input:not([type="checkbox"]),
select,
textarea {
	border: 2px solid $grayborder;
	border-radius: 10px;
	background: white;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(123, 123, 123, 0.3);
	        box-shadow: inset 0px 1px 3px 0px rgba(123, 123, 123, 0.3);
	padding: 0 2em;
	font-family: inherit;
	font-size: inherit;
	outline: none;
}

select {
	-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;appearance: none;

	background: url(../img/arr_down.svg) no-repeat calc(100% - 15px) center;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $black;
}

button {
	padding: 0 2em;
	font-family: inherit;
	font-size: inherit;
	outline: none;
	@extend %base-button-height;
	@extend %pointer;
	@include rounded_element($border: none, $radius: 10px, $background: "", $color: $black);
	&[type="submit"] {
		margin-bottom: 1em;
	}
}

figure {
	@extend %m0;
}

.yellow {
	@extend %uppercase;
	background: $yellow;
}

.violet {
	@extend %uppercase;
	background: $violet;
	color: white;
}

.success {
	background-color: $success_color;
}

.fail {
	background-color: $fail_color;
}