@import "_main", "_header", "../owlсarousel/src/scss/owl.carousel", "_slidernav";

$double-arrow: '<svg xmlns="http://www.w3.org/2000/svg" width="35" height="44" viewBox="0 0 358 324"><g transform="rotate(-90 180 160)"><path d="M-4 99l-21 21 204 203 203-203-21-21-182 181z"/><path d="M-4 0l-21 21 204 203L382 21 361 0 179 182z"/></g></svg>';

%half {
	width: 50%;
}

%font-smaller {
	font-size: 95%;
}

header {
	@extend %header-search;
	& + section {
		padding: 0 $base-side-padding;
	}
}

.search-container {
    @media (min-width: 993px) { margin-right: 12%; }
}

.breadcrumbs {
	color: $violet;
    margin: 3% 0 0;
	li {
		margin-right: 0.8em;
		@extend %inline-block;
		& + li {
			padding-left: 1.5em;
			background: url('data:image/svg+xml;utf8,#{$double-arrow}') no-repeat left center/auto 90%;
		}
	}
}

.product-header {
    margin-bottom: 2em;
	@extend %half;
	@media (max-width: 992px) {	width: 65%;	}
	h1, strong {
		font-size: 2.4em;
	}
	h1 {
	    @extend %uppercase;
	    @extend %m0;
	}
	strong {
		@extend %float-right;
	}
}

.details {
	@extend %font-smaller;
	@extend %ads-details;
}

.content {
	@extend %clearfix;
	&>* {
		@extend %half;
		@extend %float-left;
	}
}

.product {
	@media (max-width: 992px) {	width: 65%;	}
	figcaption {
		line-height: 1.7;
	    padding: 3em 0;
	}
}

//Author
.author {
	@media (min-width: 768px) { padding-left: $base-side-padding; }
	@media (max-width: 992px) {	width: 35%;	}
	address {
	    font-style: unset;
		@extend %clearfix;
		img {
			width: 10em;
    		height: 10em;
    		object-fit: cover;
    		box-shadow: 0 0 0 1px $gray;
			@include rounded_element($border: 9px solid white, $radius: 50%, $background: "", $color: "");
			@media (max-width: 768px) {
				float: left;
			    margin-right: 4%;
			}
			@media (max-width:479px) { width: 9em;	height: 9em; }
		}
	}
	img {
		@media (min-width: 993px) {
			float: left;
			margin-right: 4%;
		}
	}
}

.contacts {
	span {
	    font-size: 1.7em;
	    @media (min-width: 993px) { margin-left: -1%; }
	    &::after {
	    	content: '⚫';
		    margin-left: 5px;
			color: $fail_color + #011111;
	    	@extend %inline-block;
	    }
	    &.online {
	    	&::after {
	    		color: $success_color + #011111;
	    	}
	    }
	}
	ul {
		@extend %m0;
	}
	li {
	    margin-top: 0.6em;
	    white-space: nowrap;
		&::before {
			content: '';
			background: url(../img/messengers.png) no-repeat center 0/99%;
			width: 1.9em;
			height: 1.9em;
			margin: 0 0.5em -0.5em 0;
			@extend %inline-block;
			@media (min-width: 993px) { margin-left: 1em; }
		}
	}
	.skype::before {
		background-position-y: 0.1em;
	}
	.viber::before {
		background-position-y: 50%;
	}
	.whatsapp::before {
		background-position-y: 100%;
	}
}

//Other ads
.other-ads {
	h2 {
		font-size: 1.6em;
	}
	h4 {
		font-size: 1.3em;
    	font-weight: normal;
	}
	img {
	    max-width: 14.3em;
	    @media (max-width: 992px) { max-width: 100%; }
	}
	ul {
		@media (min-width:480px) and (max-width: 767px) { columns: 2 auto; }
	}
	li {
		@extend %inline-block;
		@extend %clearfix;
		& + li {
			@media (min-width: 769px) {	margin-top: 10%; }
		}
	}
	p {
	    line-height: 1.7;
	    @extend %font-smaller;
	}
}

@media (max-width: 767px) {
	.product-header, .product, .author { width: 100%; }
}