@import "_main", "_header";

section {
	padding: 0 $base-side-padding;
	[role="heading"] {
		@extend %clearfix;
		p {
		    margin: 0.3em 0;
		}
	}
	h2 {
		margin-bottom: 0;
	}
	.now-active span, .inactive, strong, h4, .price {
		color: $violet;
	}
}

.ads {
	ul[role="toolbar"] {
		@extend %m0;
		@extend %float-right;
		@media (max-width : 767px) { position: absolute; top: 0.7em; right: 0; }
		li {
			@media (max-width : 767px) and (min-width: 541px) { display: inline-block; }
			+ li {
				@media (min-width : 768px), (max-width: 540px) { margin-top: 0.5em; }
			}
		}
	}
	>li {
		@media (min-width: 541px) {
			border-left: 2px solid $yellow-border;
			padding-left: 1em;
		}
		margin: 4% 0;
		@extend %clearfix;
		@extend %pos-rel;
		&::before {
			content:"";
			width: 34%;
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: $yellow-border;
			@extend %pos-abs;
			@extend %block;
			@media (max-width: 540px) { width: 100%; }
		}
	}
	figure {
		padding-top: 0.7em;
		@extend %flex;
		@extend %flex-wrap;
		@media (min-width : 768px) { padding-right: 6%; }
	}
	img {
		width: 150px;
    	height: 101px;
    	-o-object-fit: cover;
    	object-fit: cover;
	}
	h4 {
		font-size: 1.4em;
		font-weight: 400;
		@extend %m0;
		@extend %inline-block;
	}
	figcaption {
		@media (min-width : 768px) {
			width: calc(100% - 150px);
			padding-left: 1.5em;
		}
		@media (max-width: 767px) {
			padding-top: 0.7em;
		}
	}
	article {
		padding-top: 0.5em;
	    line-height: 1.7;
	}
	button {
		padding: 0 1em;
		line-height: 3.2;
		@media (max-width: 767px) {
			padding: 0 0.6em;
    		line-height: 2.5;
    		font-size: 86%;
    		border-width: 1px;
		}
	}
}

.now-active {
	font-size: 1.3em;
}

.inactive {
    line-height: 2;
	@extend %float-right;
	@media (max-width: 992px) {
		display: block;
		float: none;
	}
}

.sold, .delete {
	background: none;
	@extend %uppercase;
}

.sold {
	color: $violet;
	border: 2px solid $violet;
}

.delete {
	color: red;
	border: 2px solid red;
}

.violet {
	border: 2px solid $violet;
}

.price {
    font-size: 2em;
    line-height: 0.8;
	@extend %float-right;
}

.details {
    padding: 0.2em 0 1.2em;
    color: $gray;
    @extend %m0;
    @extend %inline-block;
    time {
    	@media (min-width: 541px) { position: absolute; }
    }
    >* {
    	margin-right: 2em;
    	@extend %inline-block;
    }
}

.views {
	@media (min-width: 541px) {	margin-left: calc(150px + 1.5em); }
}