@import "_main", "_header";

section {
	padding: 0 $base-side-padding;
	[role="heading"] {
		@extend %clearfix;
		p {
		    margin: 0.3em 0;
		}
	}
	h2 {
		margin-bottom: 0;
	}
	.now-active span, .inactive, strong, h4, .price {
		color: $violet;
	}
}

.ads {
	@extend %ads;
}

.details {
	@extend %ads-details;
}

.now-active {
	font-size: 1.3em;
}

.inactive {
    line-height: 2;
	@extend %float-right;
	@media (max-width: 992px) {
		display: block;
		float: none;
	}
}

.sold, .delete {
	background: none;
	@extend %uppercase;
}

.sold {
	color: $violet;
	border: 2px solid $violet;
}

.delete {
	color: red;
	border: 2px solid red;
}

.violet {
	border: 2px solid $violet;
}