@import "_tools";

/*$sprite-map: (
	vk: '0 -1 101 101',
	fb: '0 105 101 101',
	gp: '0 210 101 101'
);*/

$sprite-position-map: (
	vk: '0',
	fb: '50%',
	gp: '100%'
);

.decore {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.decore + section {
	h3 {
		font-size: 1.8em;
    	font-weight: 300;
    	margin: 0 8% 0.2em 0;
		@media (max-width: 767px) { font-size: 1.5em; line-height: 1.8; }
	}
	div {
		margin: 7em 0 1em;
		@media (max-height:540px) { margin: 3em 0; }
		@extend %flex;
		@extend %flex-wrap;
	}
}

.helpers {
	color: $violet;
	display: table;
	& > * {
		display: table-cell;
	}
	span {
		text-align: right;
	}
}

a.violet {
	padding: 0 2em;
	@extend %inline-block;
	@extend %uppercase;
	@extend %base-button-height;
	@include rounded_element($border: "", $radius: 10px, $background: $violet, $color: white);
}

.socials {
@extend %inline-block;
@extend %m0;
	li {
	@extend %inline-block;
		&+li {
			margin-left: 1em;
		}
	}
	a {
		background-image: url("../img/icons_sprite.svg");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		width: 3em;
		height: 3em;
		border-radius: 50%;
		@extend %block;
		@media (max-width: 767px) { width: 2.6em; height: 2.6em; }
	}
}

//Not supported in Safari :(
/*@each $fragment, $viewbox in $sprite-map {
    .#{$fragment} a {
    	background-image: url("../img/icons_sprite.svg#svgView(viewBox(#{$viewbox}))");
    }
}*/

@each $fragment, $position-y in $sprite-position-map {
    .#{$fragment} a {
    	background-position-y: #{$position-y};
    }
}